<footer class="foot footer mt-auto py-2">
  <div class="container">
    <p class="text-center">&copy; 2024 Hewad Tahiri. All rights reserved.</p>
    <p class="text-center">
      <a href="https://github.com/hewadtahiri">GitHub</a> | <a href="https://linkedin.com/in/hewadtahiri">LinkedIn</a>
    </p>
  </div>
</footer>