<footer class="footer py-2 footbar">
  <div class="container-fluid text-center">
    <p>&copy; 2024 Hewad Tahiri. All rights reserved.</p>
    <p>
      <i class="fab fa-github"></i>
      <a href="https://github.com/hewadtahiri">GitHub</a> |
      <i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/hewadtahiri">LinkedIn</a>
    </p>
  </div>
</footer>