<header>
  <nav class="nav justify-content-center py-1 navbar">
    <li class="nav-item">
      <a class="nav-link fs-5" href="/">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="/AboutMe">
        <i class="fas fa-user"></i> About Me
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="/Projects">
        <i class="fas fa-briefcase"></i> Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fs-5" href="/ContactMe">
        <i class="fas fa-envelope"></i> Contact Me
      </a>
    </li>
  </nav>
</header>