<nav class="nav">
  <ul class="nav justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AboutMe">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ContactMe">Contact Me</a>
      </li>
    </ul>
  </ul>
</nav>