<section class="title text-center">
  <h1 class="fs-1">About Me</h1>
  <p class="fs-5">A brief introduction about me.</p>
</section>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="/Media/Picture.png" class="photo img-fluid" alt="My Picture">
    </div>
    <div class="col text-center">
      <video class="w-100" poster="/Media/Poster.png" controls>
        <source src="/Media/Introduction.mp4" type="video/mp4">
        <source src="/Media/Introduction.ogv" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <p class="title fs-5">
        Hi, I"m Hewad Tahiri. I"m a fourth-year Networking & Information Technology Security student. In my free time, I enjoy playing basketball, video games, and spending time with friends. I do freelance work for Interscope Records" urban digital marketing department, supporting their roster of artists, including Playboi Carti, Ken Carson, Destroy Lonely, among others. After completing my studies, I hope to pursue a full-time career in the music industry.
      </p>
    </div>
  </div>
</div>