<section class="title text-center">
  <h1 class="fs-1">About Me</h1>
  <p class="fs-5">A brief introduction about me.</p>
</section>

<div class="container-fluid text-center">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 mb-4">
      <img src="/Media/Picture.png" class="media img-fluid" alt="My Picture">
    </div>
    <div class="col-md-6 mb-4">
      <video class="media img-fluid" poster="/Media/Poster.png" controls>
        <source src="/Media/Introduction.mp4" type="video/mp4">
        <source src="/Media/Introduction.ogv" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p class="fs-5">
        Hi, I'm Hewad Tahiri. I'm a fourth-year Networking & Information Technology Security student...
      </p>
    </div>
  </div>
</div>