<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 24px);">
  <div class="text-center">
    <img src="/Media/Picture.png" alt="My Picture" class="photo img-fluid rounded mb-3">
    <p class="title fs-5">Use the navigation bar to explore.</p>
  </div>
</div>
