<section class="title text-center mb-4">
  <h1 class="fs-1">Home</h1>
  <p class="fs-5">Welcome to my website!</p>
</section>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img src="/Media/Picture.png" alt="My Picture" class="photo img-fluid mb-3">
    <p class="title fs-5">Use the navigation bar to explore.</p>
  </div>
</div>