<%- include("Layout") %>

<section class="title text-center">
  <h1 class="fs-1">Home</h1>
  <p class="fs-5">Welcome to my website!</p>
</section>

<section class="container">
  <img src="/Media/Picture.png" class="img-fluid" alt="Profile Picture">
</section>

<p class="description">Use the navigation bar to explore.</p>