<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col text-center">
      <h1 class="title fs-1">Home</h1>
      <p class="title fs-5">Welcome to my website!</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col text-center">
      <img src="/Media/Picture.png" alt="My Picture" class="media img-fluid">
      <p class="title fs-5">Use the navigation bar to explore.</p>
    </div>
  </div>
</div>