<section class="title">
  <h1>Home</h1>
  <p>Welcome to my website!</p>
</section>

<section class="container">
  <img src="/Media/Picture.png" alt="Profile Picture" class="home-picture">
</section>

<p class="description">Use the navigation bar to explore.</p>