<%- include("Layout") %>

<section class="title">
  <h1>Projects</h1>
  <p>A showcase of my academic projects.</p>
</section>

<div class="container-fluid projects">
  <div class="row align-items-center">
    <div class="col">
      <h2>Rolls Royce & Information Systems</h2>
      <h3>BUSI 1600U: Management of the Enterprise</h3>
      <video class="w-100" controls>
        <source src="/Media/Rolls Royce & Informaton Systems.mp4" type="video/mp4">
        <source src="/Media/Rolls Royce & Informaton Systems.ogv" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col">
      <h2>Trust Systems</h2>
      <h3>BUSI 1600U: Management of the Enterprise</h3>
      <video class="w-100" controls>
        <source src="/Media/Trust Systems.mp4" type="video/mp4">
        <source src="/Media/Trust Systems.ogv" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col">
      <h2>Distributed File Systems</h2>
      <h3>INFR 3850U: System & Network Administration</h3>
      <video class="w-100" controls>
        <source src="/Media/Distributed File Systems.mp4" type="video/mp4">
        <source src="/Media/Distributed File Systems.ogv" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>