html, body {
  font-family: "Lexend", sans-serif;
}

.navbar {
  background: linear-gradient(360deg, #007bff, #00bfff);
  padding: 15px 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar a:hover {
  color: #ffd700;
}

.title h1 {
  font-weight: 700;
  margin-bottom: 2.5px;
}

.title p {
  font-weight: 400;
  margin: 0 auto 50px;
}

.projects h2 {
  font-weight: 700;
  margin-bottom: 2.5px;
}

.projects h3 {
  font-weight: 400;
}

.footerstyle {
  background: linear-gradient(135deg, #007bff, #00bfff);
  color: white;
  font-weight: 400;
}