* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background: linear-gradient(360deg, #007bff, #00bfff);
  padding: 15px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar a:hover {
  color: #ffd700;
}

main {
  margin-top: 10px;
  flex: 1;
}

.title {
  text-align: center;
}

.title h1 {
  font-weight: 700;
}

.title p {
  font-weight: 400;
  margin: 0 auto 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.description {
  text-align: center;
  margin: 10px auto;
  font-weight: 400;
}

.projects {
  text-align: center;
}

.projects h2 {
  font-weight: 700;
}

.projects h3 {
  font-weight: 400;
}

.projects video {
  height: auto;
  margin-top: 10px;
}

.contactme {
  margin: 0 auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contactme label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
}

.contactme input[type="text"],
.contactme input[type="email"],
.contactme input[type="tel"],
.contactme textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactme textarea {
  height: 150px;
  resize: none;
}

.contactme .submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.contactme .submit-btn:hover {
  color: #ffd700;
}

.footer {
  background: linear-gradient(135deg, #007bff, #00bfff);
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: 400;
  width: 100%;
}