html, body {
  font-family: "Lexend", sans-serif;
}

.title h1 {
  font-weight: 700;
  margin-bottom: 2.5px;
}

.title p {
  font-weight: 400;
  margin: 0 auto 50px;
}

.projects h2 {
  font-weight: 700;
  margin-bottom: 2.5px;
}

.projects h3 {
  font-weight: 400;
}